/*
@import url(http://weloveiconfonts.com/api/?family=entypo);
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*[data-rf-action] {cursor: pointer;}
*[data-rf-template] {display: none;}

.small {font-size: 65%;}
.center {text-align: center;}


/* entypo */
.icon:before {
  font-family: 'FontAwesome', sans-serif;
  /*font-family: 'entypo', sans-serif;*/
}

.entypo-icon-white {
	color: white;
}
.entypo-icon-medium {
	font-size: 45px;
}
span[class*="entypo-"]{
	width: 100%;
	height: 100%;
	font-size: 32px;
	display: block;
	text-align: center;
}

.show {display: block; visibility: visible; }
.hide {display: none; visibility: hidden;}
.left { float: left; display: block;}
.right { float: right; display: block;}

#main { background: #e1e7e7; }
#search { background: #444; }
#saytbox { background: #444; }
#zoom {display: none;}

a:hover {
	color: white;
	text-decoration: none;
}

body {
	font-size: 13px;
	font-family: Verdana, Arial;
}

header {
	height: 50px;
	line-height: 44px;
	width: 100%;
	display: table;
	background: #444;
	position: relative;
	z-index: 99;
}
header > * {
	display: table-cell;
}

header > h1 {
	width: 60%;
	height: 100%;
	background: url('../images/logoheader.png') center #444 no-repeat;
}
header > h1 span {
	display: none;
	font-size: 14px;
	text-align: center;
	color: #eee;
	pointer-events:none;
}
.zoom header > h1 {
	background: transparent;  
	vertical-align: middle;
	background: #666;
	border: 5px #444 solid;
	border-radius: 30px;
}
.zoom header > h1 span {display: block; }

header > .navbutton {
	margin-top: 3px;
	line-height: 47px;
	min-width: 50px;
	background-color: #444;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}

.leftSectionSwitcher {padding-left: 8px;}
.rightSectionSwitcher {text-align: right;padding-right: 8px;}

body.unlogged.main .rightSectionSwitcher {visibility: hidden;}
body.zoom #zoom {display: block;}
body.logged .unlogged-disclaimer {display: none;}
body.unlogged .infobox .unlogged-disclaimer { float: right;}
body.unlogged .unlogged-disclaimer {
	display: block;
	width: 120px;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 5px;
	padding-right: 10px;
}

.obscured:after,
section:not(.current):after {
	content: ''; background: #444; opacity: 0.8;width: 100%; height: 100%; position: absolute; top:0;
}

#searchProgLoading {
	height: 50px;
    width: 100%;
    position: absolute;
	bottom: 50px;
}

#sx-title {
	color: #fff; 
	text-align: center;
	font-size: 1.3em;
	height: 23px;
} 

input[type="search"] {
	width: 100%;
	height: 40px;
	font-size: 1.2em;
	color: #444;
	padding: 3px 6px;
	border-radius: 50px;
	border: 0;
	margin: 4px 0px;
	box-sizing: border-box;
}

#main .menu {
	height: 100px;
	width: 100%;
}

#panel_search {
	width: 0;
}

.content {
	padding: 48px;
}

.homelogo {
	margin: 0 auto;
	margin-top: 50px;
	display:block; 
}

.welcome {
	font-size: 20px;

	color: #5f6972;
}

.social-wrapper {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.social {
	/*width: 200px;
	height: 50px;*/
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 24px;
	width: 100px;
	display: inline-block;
	line-height: 43px;
}
/*
.social.fb {
	border: 1px solid #49649C;
	background-color: #7287B8;
}
.social.google {
	border: 1px solid #D83D2C;
	background-color: #E35F57;
}
*/
.scroll-wrapper {
	height: 100%;
	position: relative;
}

.search-wrapper {
	position: relative;
	width: 100%;
}
.search-wrapper span {
	position: absolute;
	right: 13px;
	border-radius: 50%;
	cursor: pointer;
	width: 25px;
	height: 100%;
	top: 2px;
	color: #444;
}

.series-action {
	color: #fff;
	font-size: 31px;
	line-height: 48px;
	font-weight: bold;
	background: white;
	height: 47px;
	width: 47px;
	text-align: center;
	font-weight: normal;
	position: relative;
	
}

.series-action.plan {background: #29c8c4;}
.series-action.plan:active {background: #2ee6e1}

.series-action.info {background: #333;}
.series-action.info:active {background: #666;}

.series-action.watch {background:#3fd397; display: none;}
.series-action.watch:before{display: none;}
.series-action.watch:active {background:#47EDAA;}

.series-action.drop {background: #fd645f; font-weight: normal; line-height: 44px; font-size: 27px;}
.series-action.drop:active {background: #FC7D79;}

.series-action.purge {background: #fd645f; font-weight: normal; line-height: 44px; font-size: 20px; width: 100px; margin: 10px auto;}
.series-action.purge:active {background: #FC7D79;}

.icon.cancel {margin-top: 24px}
.icon.cancel:before {font-size: 52px}


#saytbox > ul{
	position: absolute;
	background: #444;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	left: 0;
	top: 50px;
	z-index: 1;
}
#saytbox > ul > li {
	height: 60px;
	border-bottom: 1px solid #666;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 20px;
}
#saytbox > ul > li:active {
	background: rgba(68,68,68, 0.5);
}
.loading:after {
	content: "";
	width: 100%;
 	height: 100%;
 	background: #333;
 	opacity:0.8;
 	position: absolute;
	top: 0;
	display: block;
	z-index: 10;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


/* Loading animation container */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}
 
/* Spinning circle (inner circle) */
.loader .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid white;
}
 
/* Spinning circle mask */
.loader .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.loader .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    -webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
 }
 .loading-layer {
 	width: 100%;
 	height: 100%;
 	background: #333;
 	opacity:0.8;
 	position: absolute;
	top: 0;
 }
 .splash-layer {
 	width: 100%;
 	height: 100%;
 	position: absolute;
	top: 0;
 	background: url('../images/splash_mini.jpg') no-repeat #333 center 0;
 	background-size: auto 100%;
 }
 .splash-layer .loader {
    top: 10%;
 }

 .wait-message {
 	position: absolute;
	top: 50%;
	left: 50%;
	margin: 31px 0 0 -45px;
	color: #efefef;
 }

.unlogged #logout-button {
	display: none;
}

/**HELP AND HOME**/


#home:before,
#home:after {
	width: 112px;
	height: 100px;
	content: '';
	position: absolute;
	top: 53px;
	background-repeat: no-repeat;
}
#home:after {
	background-image: url('../images/help-search.png');
	left: 10px;
}
#home:before {
	background-image: url('../images/help-dash.png');
	right: 10px;
}
.home-content > * {
	margin: 0 auto;
}

.help-home, #home:before, #home:after {display: none;}
.logged #home:before, .logged #home:after, .logged .help-home {	display: block;}




@media (max-width: 500px) { 
}




/**bootstrap**/
.btn {
	width: 100%;
	height: 60px;
	margin-top: 6px;
}
.loading-layer.alert {
	opacity: 0.99;
}