
#dashboard {
	background: #444;
}
.dashboard-tabs {
	background: #7d7d7d;
	position: relative;
	height: 59px;
	margin-bottom: 0;
}

.dashboard-tabs > li {
	float: left;
	padding: 10px;
	padding-top: 18px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 33.33%;
}
.dashboard-tabs > li {
	color: #fff;
	text-transform: uppercase;
}
.dashboard-tabs > li a:hover,
.dashboard-tabs > li a:active {
	background: transparent;
	border: none;
}
.dashboard-tabs > li#watching { background:#3fd397;}
.dashboard-tabs > li#planned { background:#29c8c4;}
.dashboard-tabs > li#history { background:#f9bc23;}

.logout {
	margin-right: 10px;
	color: #fff;
}

.dashboard-tabs > li:before { 
	display: none;
	color: #444; 
	font-size: 30px; 
	background: transparent;
	position: absolute;
	top: 45px;
	content: "\f0d8";
}
.watching .dashboard-tabs > li#watching:before {display: block;}
.planned .dashboard-tabs > li#planned:before   {display: block;}
.archived .dashboard-tabs > li#history:before   {display: block;}