/*
<ul class="series">
	<li class="series-row-A | series-row-B">
		<div class="view">
			<img class="thumb" data-src="{{thumb}}" >
			<div class="title">{{title}}</div>
			<div class="action icon goto"></div>
		</div>
	</li>
</ul>
*/

ul {
	list-style: none;
}
ul.series {
	margin: 0;
	color:#eee;
	background: #fff;
}

ul.series > li {
	width: 100%;
	position: relative;
	height: 70px;
}

/*
ul.series li.Planned { border-right: 10px solid #29c8c4; }
ul.series li.Watching { border-right: 10px solid #3fd397; }
ul.series li.Dropped { border-right: 10px solid #fd645f; }
*/
ul.series li.series-row-A {
	background: #585858;
}
ul.series li.series-row-B {
	background: #444;
}
ul.series li.series-row-A:active {
	background: rgba(88,88,88, 0.5);
}
ul.series li.series-row-B:active {
	background: rgba(68,68,68, 0.5);
}

/*ul.series li:active {
	background: #a6a6a6;
}*/

ul.series li > .view {
	display: table-row;
	position: relative;
	width: 100%;
	height: 100%;
}

ul.series .view > * {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
ul.series li .title{
	height: 100%;
	width: 100%;
	padding-left: 5px;
	font-size:1.2em;
	word-wrap: break-word;
	overflow: hidden;
	margin-left: 60px;
}

ul.series li .action {
	margin-top: 17px;
	font-size: 50px;
	opacity: 0.3;
}

ul.series li .action:before {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 2px 9px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;

	margin-top: 24px;
	border-radius: 9px 0px 0px 9px;
	-moz-border-radius: 9px 0px 0px 9px;
	-webkit-border-radius: 9px 0px 0px 9px;
}


ul.series li.Planned .series-action,
ul.series li.Dropped .series-action,
ul.series li.Watching .series-action {
	visibility: hidden;
}
.unlogged ul.series li.null .series-action{
	visibility: hidden;
}
ul.series li .series-action.purge {
	visibility: visible;
}

ul.series li .thumb{
	width:65px;
	min-width: 65px;
	height:65px;
	padding-top: 3px;
	padding-left: 5px;
	position: relative;
}

ul.series li .thumb img {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	        border-radius:50%;
}


ul.series li .context {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	vertical-align: middle;
	text-align: center;
	background: rgb(44,44,44);
}
ul.series li .context > * {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

ul.series li.showContext .context {
	display: block;
}


ul.series li.Dropped .action,
ul.series li.Watching .action,
ul.series li.Planned .action,
ul.series li.Completed .action {
	opacity: 1;
}

ul.series li.Dropped .action:before {
	display: inline-block;
	background-color: #FC7D79;
	content: 'Dropped';
}
ul.series li.Completed .action:before {
	display: inline-block;
	background-color:  #03C03C;
	content: 'Completed';
}
ul.series li.Watching .action:before {
	display: inline-block;
	background-color:  #3fd397;
	content: 'Watching';
}
ul.series li.Planned .action:before {
	display: inline-block;
	background-color:  #29c8c4;
	content: 'Planned';
}
