#zoom {
	position: absolute;
	height: 100%;
	background: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	top: 0;
}
#showHeader {
	height: 200px;
	position: relative;
	background-color: #444;
	margin-top: 50px;
	background-size: 100%;
}
#zoom h2 {
	position: absolute;
	margin: 0;
	bottom: 0;
	height: 40px;
	display: block;
	width: 100%;
	background-color: #000;
	font-size: 27px;
	color: #e5e5e5;
	opacity:0.7;
	font-weight: normal;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
}
#zoom .series-info h2 {
	position: relative;
	top: 0;
	background: transparent;
	padding-left: 0;
}
.infobox {
	height: 50px;
	color: #eee;
	background-color: #585858;
	position: relative;
}
.infobox > * {
	display: block;
	float: left;
	width: 50px;
	height: 100%;	
}

#genre {
	overflow: hidden;
	width: auto;
}

#zoom .series-info > * {
    pointer-events:none;
}
#zoom .series-info {
	position: absolute;
	top: 50px;
	background: #333;
	opacity: 0.95;
	color: #ccc;
	height: 100%;
	width: 100%;
	padding: 10px;
	font-size: 15px;
}
#zoom .action {
	height: 50px;
	width: 50px;
	margin: 0;
	float: right;
	cursor: pointer;
}
#zoom .infobox > div > span {display: block; margin-top: 15px; margin-left: 10px;}
#zoom .infobox #year { background-color: #464646; }
#zoom .infobox .series-action { float: right; }
#zoom .infobox .info-sign:before{
	position: absolute;
	margin-left: -28px;
	font-size: 1.7em;
	margin-top: 9px;
}
/*#zoom.Watching .series-action.watch { display: none; }*/

#zoom.Watching .series-action.plan { display: none; }
#zoom.Planned .series-action.plan { display: none; }
#zoom.Dropped .series-action.plan { display: none; }
#zoom.Dropped .series-action.drop { display: none; }
#zoom.no-state .series-action.drop { display: none; }
#zoom.Completed .series-action.drop,
#zoom.Completed .series-action.plan { display: none; }
.unlogged .series-action {display: none;}
.unlogged ul.episodes li .episode-watch {visibility: hidden;}
.unlogged ul.seasons li .season-watch {visibility: hidden;}
ul.seasons li.notairedyet .season-watch {visibility: hidden;}


ul.seasons {
	margin-left: 0;
}
ul.seasons > li > .view {
	display: block;
	color:#eee;
	height: 60px;
	width: 100%;
	position: relative;
	display: table-row;
}

ul.seasons > li.seasons-row-A > .view {
	background: #444;
}
ul.seasons > li.seasons-row-B > .view{
	background: #585858;
}
ul.seasons > li > .view > * {
	display: table-cell;
}
ul.seasons li .view .season-title{
	width: 100%;
	position: relative;
	vertical-align: middle;
}
ul.seasons li .view .title{
	font-size:1.2em;
	vertical-align: middle;
}
ul.seasons li .view .specials.title{
	width: 100%;
}
ul.seasons li .view .openicon{
	font-size: 20px;
	float: left;
	width: 32px;
	height: 100%;
	position: relative;
	padding-top: 17px;
	padding-left: 10px;
}
ul.seasons li .view .season-watch {
	top: 19px;
	right: 0;
	position: absolute;
}
ul.seasons li .view .season-watch span{
	font-size: 18px;
}

.season-box { 
	overflow: hidden; 
}

.season-box.closed ul.episodes { height: 0; }
.season-box.opened ul.episodes { height: auto; }


ul.episodes {
	transition: all 1s;
	-webkit-transition: all 1s;
	margin-left: 0;
	border-collapse: collapse;
}
ul.episodes li {
	height: 50px;
	border-bottom: 1px solid #ccc;
	background: #e5e5e5;
	font-size: 1.1em;
	color: #444;
	position: relative;
	display: table-row;
	padding-left: 10px;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

ul.episodes li .episode-number {
	display: table-cell;
	vertical-align: middle;
	min-width: 32px;
	height: 12px;
	color: #888;
	text-align: center;
}

ul.episodes li .view {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

ul.episodes li .view > *{
	pointer-events:none;
}

.episode-label {
	color: #666;
	font-size: 11px;
	display: table-cell;
	min-width: 91px;
	vertical-align: middle;
	text-align: right;
	padding-right: 0px;

}

.episode-action {
	color: #666;
	display: table-cell;
	min-width: 45px;
	vertical-align: middle;
	padding-right: 0px;
	text-align: right;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.season-watch, .episode-watch {
	padding-right: 6px;
	margin-right: 4px;
	margin-top: 3px;
}

.watched .season-watch,
.watched .episode-watch {
	padding-right: 0px;
}

ul.seasons li *[data-rf-action="watchSeason"],
ul.episodes li *[data-rf-action="watchEpisode"] {	
	font-size: 40px;
}

