<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TV SHOWMARK</title>
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />


		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="Emmepunto">
		<meta name="appsfuel_code" content="51df590a57c6bef"/>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<!--link href="css/entypo.css" rel="stylesheet"-->
		<link href="css/fontawesome.css?v=1000" rel="stylesheet">
		<link href="css/app.css?v=1000" rel="stylesheet">
		<link href="css/slider.css?v=1000" rel="stylesheet">
		<link href="css/zoom.css?v=1000" rel="stylesheet">
		<link href="css/dashboard.css?v=1000" rel="stylesheet">
		<link href="css/list.series.css?v=1000" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
		<link rel="apple-touch-icon-precomposed" href="">
		<link rel="shortcut icon" href="">
		<script src="js/config.js"></script>
		<script src="js/refueljs/Refuel.js?v=1000" data-rf-startup="js/TVSApp"></script>
	</head>

	<body>
		<div class="container">
			<div id="carousel">
				<ul class="carousel_list">
					<!-- SEARCH -->
					<section id="search" class="pane" data-rf-margin-right="48">
						<header id="saytbox" data-rf-sayt="searchSayt">
							<div class="search-wrapper">
								<input id="search_field" type="search" autocomplete="on" placeholder="search shows" >
								<span class="icon clear-search" data-rf-action="clearSayt" />
							</div>
							<ul data-rf-list="results" class="sayt-results">
								<li data-rf-template="show" data-rf-action-mousedown="showZoom"> 
									<div class="view"> <div class="title">{{title}}</div> </div>
								</li>
							</ul>
						</header>
						<div id="sx-title">Top of the Week</div>
						<div id="search_list_wrappper" class="scroll-wrapper">
							<ul id="search_list" class="series" data-rf-list="top.results">
								<li data-rf-template="show" data-rf-action="showZoom" class="{{user.status}}">
									<div class="view">
										<div class="thumb"> <img data-src="{{thumb}}"> </div>
										<div class="title">{{title}}</div>
										<div class="action icon goto"></div>
									</div>
									<!--div class="series-action plan right" data-rf-action="plan"></div-->
								</li>
							</ul>
							<div id="searchProgLoading" class="hide"></div>
						</div>
					</section>
					<!-- MAIN -->
					<section id="main" class="pane" data-rf-default-section>
						<header>
							<div class="icon leftSectionSwitcher navbutton" data-rf-goto="search">
							</div>
							<h1 class="title" data-rf-action="returnHome"><span>Return to Home<span></h1>
							<div class="icon rightSectionSwitcher navbutton" data-rf-goto="dashboard">
							</div>
						</header>
						<div id="home">
							<img class="homelogo" src="images/logo.png" />
							<div class="home-content {{user.first_name ? '' : 'hide'}}">
								<img class="help-home" src="images/help-home.png" />
								<!--span>Welcome {{user.first_name}}</span-->
							</div>
							<div class="welcome social-wrapper" >
								<div class="{{user.first_name ? 'hide' : ''}}">
									<div class="social-wrapper" >
										<!-- a onclick="location.href='/api/v1/auth/login/appsfuel/?next=/'" class="social appsfuel"></a-->
										<a onclick="location.href='/api/v1/auth/login/facebook/?next=/'" class="icon social fb"></a>
										<a onclick="location.href='/api/v1/auth/login/google-oauth2/?next=/'" class="icon social google"></a>
									</div>
								</div>
							</div>
						</div>

						<!-- ZOOM -->
						<div id="zoom" class="{{user.status}}" data-rf-generic="zoom">

							<div id="zoom_wrapper">
								<div id="showHeader" style="background: url('{{images.header}}') no-repeat center #444; background-size: 100%">
									<h2>{{title}}</h2>
								</div>
								<div class="infobox">
									<div id="year"><span>{{year}}</span></div>
									<div id="genre"><span>{{user.status}}</span></div>
									<div class="unlogged-disclaimer icon info-sign ">
										<div class="">Login to unlock all features</div>

									</div>
									<div class="icon series-action info" data-rf-action="info"></div>
									<div class="icon series-action plan" data-rf-action="plan"></div>
									<div class="icon series-action watch" data-rf-action="watch"></div>
									<div class="icon series-action drop" data-rf-action="drop"></div>
								</div>
								<ul class="seasons" data-rf-list="seasons">
									<li class="season-box {{status}}" data-rf-template="seasonTemplate"  data-rf-action="expandSeason">
										<div class="view">
											<div class="openicon"><span class="toggle-season icon"></span></div>
											<div class="season-title" data-rf-visibility="season">
												<div class="title"><span>Season {{season}}<span></div>
												<div class="icon episode-action season-watch" data-rf-action="watchSeason"><span></span></div>
											</div>
											<div class="title specials" data-rf-visibility="!season"><span>Specials<span></div>
										</div>
										<ul class="episodes" data-rf-list="episodes">
											<li class="{{user.watched ? 'watched' : ''}}" data-rf-template="episodeTemplate">
												<span class="episode-number">{{episode}}</span>
												<div class="view" data-rf-action="info"> <span>{{title}}</span>	</div>
												<div class="episode-action">
													<div class="icon episode-watch" data-rf-visibility="aired" data-rf-action="watchEpisode"></div>
													<div class="episode-label episode-noair" data-rf-visibility="!aired && first_aired">
														airing <br> {{onAirDate}}
													</div>
												</div>	
											</li>
										</ul>
									</li>
								</ul>
								<div class="series-info hide" data-rf-action="info">
									<h2>{{title}}</h2>
									<div class="overview">{{overview}}</div>
									<h3  class="center">Touch to close</h3>
								</div>
							</div>
						</div>
					</section>

					<!-- DASHBOARD -->
					<section id="dashboard" class="pane pane1" data-rf-margin-left="48">
						<header>
							<a id="logout-button" onclick="location.href='/api/v1/auth/logout/?next=/'" class="logout right">Logout</a>
						</header>
						<ul class="nav dashboard-tabs">
							<li id="watching" class="icon" data-rf-action="showDashboardWatched">Watching</li>
							<li id="planned"  class="icon" data-rf-action="showDashboardPlanned">Planned</li>
							<li id="history"  class="icon" data-rf-action="showDashboardHistory">History</li>
						</ul>
						<div id="dashboard_wrapper" class="scroll-wrapper">
							<ul id="dashboard-list" class="series" data-rf-list="dashboard">
								<li data-rf-template="show" data-rf-action="showZoom" class="{{user.status}}" 
								data-rf-action-hold="showContext"> 
									<div class="view">
										<div class="thumb"> <img data-src="{{thumb}}"> </div>
										<div class="title">{{title}}</div>
										<div class="action icon goto"></div>
										
									</div>
									<div class="context">
										<div class="icon cancel" data-rf-action="hideContext"></div>
										<div class="icon purge series-action" data-rf-action="purge">Delete</div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</ul>
			</div>

    	</div>
		<div class="loading-layer">
			<div class="loader">
				<div class="icon-spinner icon-spin"></div>
			   <!--div class="spinner">
			        <div class="mask">
			            <div class="maskedCircle"></div>
			        </div>
			    </div-->
			</div>
			<div class="wait-message">...loading wait...</div>
		</div>
		<div class="splash-layer" class="hide">
			<div class="loader">
				<div class="icon-4x icon icon-spinner icon-spin"></div>
			</div>
		</div>

		<div id="alert" class="loading-layer alert hide">
			<h4 class="alert">Delete TV-Show data?</h4>
			<button type="button" class="btn btn-primary">Yes</button>
			<button type="button" class="btn btn-default">No</button>
		</div>

	</div> 

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://codeorigin.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/modernizr-latest.js"></script>
	<script src="js/hammer.js"></script>
	<script src="js/pageslider.js"></script>



	</body>
</html>
